.table-wrapper {
    position: relative;
    overflow-y: auto;
    max-height: 600px;
}

.table-wrapper::-webkit-scrollbar {
    height: 8px;
    width: 0;
}

.table-body-tr {
    border-bottom: 1px solid #DDE0E2;
}

.table-body-tr td {
    padding: 20px;
}

.table-body-tr td[data-value='SUCCESSFUL'],
.table-body-tr td[data-value='SUCCESS'],
.table-body-tr td[data-value='Successful'],
.table-body-tr td[data-value='CREDIT'],
.table-body-tr td[data-value='Credit'] {
    color: rgba(33, 150, 83, 1);
    font-weight: 500;
}

.table-body-tr td[data-value='PENDING'],
.table-body-tr td[data-value='Pending'] {
    color: #D6A32E;
    font-weight: 500;
}

.table-body-tr td[data-value='FAILED'],
.table-body-tr td[data-value='Failed'],
.table-body-tr td[data-value='DEBIT'],
.table-body-tr td[data-value='Debit'] {
    color: #DC362E;
    font-weight: 500;
}